@import "../../styles/config.scss";

.col-container {
    max-width: 100%;
    margin: 30px 100px;
    border-radius: 5px;
    height: auto;
    @include mobile-only {
        margin: 30px 20px;
    }
    

    .collapse {
        background-color: $primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 17px;
        border-radius: 5px;
        font-size: 24px;
        color:$secondary;
        font-weight: 500;
        z-index: 100;

        h5 {
            margin: 0;;
            padding: 0;
        }

        .arrow {
            transform: rotate(0deg);
            transition: all 0.4s ease-in-out;
        }
        .arrow-rotate {
            transition: all 0.4s ease-in-out;
            transform: rotate(180deg);
        }
    }

    p {
        max-width: 978px;
        margin: 0 auto;
        color: $primary;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        transition: ease-in-out 0.4s;
        background-color: #F6F6F6;
        padding: 27px 18px 19px 18px;
        border-radius: 5px;
        margin-top: -5px;
        z-index: -1;
        opacity: 0.6;
    }
}