@import "../../../styles/config.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 40px 100px 0 100px;
    
    .logo {
        height: 100%;
        width: 13%;
        img {
            height: 100%;
            width: 100%;
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 304px;
        height: 34px;
        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            color: $primary;
            &:hover {
                text-decoration: underline;

            }
        }
    }
}