@import "../../../styles/config.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin: 40px 100px 0 100px;
    @include mobile-only {
        height: 47px;
        margin: 20px;
    }
    
    .logo {
        height: 100%;
        width: 13%;
        min-width: 145px;
        img {
            height: 100%;
            width: 100%;
        }

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 309px;
        height: 34px;
        @include mobile-only {
            text-transform: uppercase;
            width: 140px;
            height: 17px;
            justify-content: center;
            margin-top: 14px;
        }
        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            color: $primary;
            font-family:$montserrat;
            @include mobile-only {
                font-size: 12px;
                margin-right: 10px;
            }
            &:hover {
                text-decoration: underline;

            }
        }
    }
}